<a href="https://colab.research.google.com/github/RuanLucas-1232/Introduction_In_Data_Science/blob/main/Introduction_In_Dtata_Science.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd

casas = pd.read_csv("/content/sample_data/california_housing_test.csv")
casas

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-122.05,37.37,27.0,3885.0,661.0,1537.0,606.0,6.6085,344700.0
1,-118.30,34.26,43.0,1510.0,310.0,809.0,277.0,3.5990,176500.0
2,-117.81,33.78,27.0,3589.0,507.0,1484.0,495.0,5.7934,270500.0
3,-118.36,33.82,28.0,67.0,15.0,49.0,11.0,6.1359,330000.0
4,-119.67,36.33,19.0,1241.0,244.0,850.0,237.0,2.9375,81700.0
...,...,...,...,...,...,...,...,...,...
2995,-119.86,34.42,23.0,1450.0,642.0,1258.0,607.0,1.1790,225000.0
2996,-118.14,34.06,27.0,5257.0,1082.0,3496.0,1036.0,3.3906,237200.0
2997,-119.70,36.30,10.0,956.0,201.0,693.0,220.0,2.2895,62000.0
2998,-117.12,34.10,40.0,96.0,14.0,46.0,14.0,3.2708,162500.0
2999,-119.63,34.42,42.0,1765.0,263.0,753.0,260.0,8.5608,500001.0

In [ ]:
casas["longitude"]

0      -122.05
1      -118.30
2      -117.81
3      -118.36
4      -119.67
         ...
2995   -119.86
2996   -118.14
2997   -119.70
2998   -117.12
2999   -119.63
Name: longitude, Length: 3000, dtype: float64

In [ ]:
casas["longitude"].max()

-114.49

In [ ]:
casas["longitude"].min()
# -114 é maior que -124, mas +114 é menor que +124.
# Se quero  saber qual é o valor negativo, em numeros, o maior uso o max(), porém se quero o menor uso max().

-124.18

In [ ]:
casas.head(10)
# Esse script me dá os 10 primeros números do arquivo.

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-122.05,37.37,27.0,3885.0,661.0,1537.0,606.0,6.6085,344700.0
1,-118.30,34.26,43.0,1510.0,310.0,809.0,277.0,3.5990,176500.0
2,-117.81,33.78,27.0,3589.0,507.0,1484.0,495.0,5.7934,270500.0
3,-118.36,33.82,28.0,67.0,15.0,49.0,11.0,6.1359,330000.0
4,-119.67,36.33,19.0,1241.0,244.0,850.0,237.0,2.9375,81700.0
5,-119.56,36.51,37.0,1018.0,213.0,663.0,204.0,1.6635,67000.0
6,-121.43,38.63,43.0,1009.0,225.0,604.0,218.0,1.6641,67000.0
7,-120.65,35.48,19.0,2310.0,471.0,1341.0,441.0,3.2250,166900.0
8,-122.84,38.40,15.0,3080.0,617.0,1446.0,599.0,3.6696,194400.0
9,-118.02,34.08,31.0,2402.0,632.0,2830.0,603.0,2.3333,164200.0

In [ ]:
casas["latitude"].head(10)
# Dá os 10 primeiros valores de latitude.

0    37.37
1    34.26
2    33.78
3    33.82
4    36.33
5    36.51
6    38.63
7    35.48
8    38.40
9    34.08
Name: latitude, dtype: float64

In [9]:
casas.to_excel("casas_california.xlsx", sheet_name= "casas_na_california", index =False)
# Converte o csv em planilha do exel, mas sem os índices da tabela  que é criado pelo python.

In [11]:
casas = pd.read_excel("casas_california.xlsx", sheet_name= "casas_na_california")

In [12]:
casas.info()
#Informa a composição da tabela.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   longitude           3000 non-null   float64
 1   latitude            3000 non-null   float64
 2   housing_median_age  3000 non-null   int64
 3   total_rooms         3000 non-null   int64
 4   total_bedrooms      3000 non-null   int64
 5   population          3000 non-null   int64
 6   households          3000 non-null   int64
 7   median_income       3000 non-null   float64
 8   median_house_value  3000 non-null   int64
dtypes: float64(3), int64(6)
memory usage: 211.1 KB

In [25]:
casas[["population", "latitude", "longitude"]].shape
#O shape diz quantas linhas(3000) tem e colunas(3) solicitadas no script.

(3000, 3)

In [26]:
casas['population'].median()
#Mediana

1155.0

In [32]:
casas_mais_populadas = casas[casas['population'] > 1155.0]
#A variável acima apresenta dados realcionados a uma pupulação que possui mais 1155.0 habitantes
casas_mais_populadas.min()

longitude              -124.1700
latitude                 32.5700
housing_median_age        2.0000
total_rooms             240.0000
total_bedrooms           44.0000
population             1157.0000
households               29.0000
median_income             0.4999
median_house_value    22500.0000
dtype: float64

In [34]:
casas_mais_populadas.max()

longitude               -114.5500
latitude                  41.8000
housing_median_age        52.0000
total_rooms            30450.0000
total_bedrooms          5419.0000
population             11935.0000
households              4930.0000
median_income             15.0001
median_house_value    500001.0000
dtype: float64

In [35]:
casas['population'] > 700
#Os índices marcados com falso são os que estão abaixo de 700.

0        True
1        True
2        True
3       False
4        True
        ...
2995     True
2996     True
2997    False
2998    False
2999     True
Name: population, Length: 3000, dtype: bool

In [36]:
casas.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-122.05,37.37,27,3885,661,1537,606,6.6085,344700
1,-118.30,34.26,43,1510,310,809,277,3.5990,176500
2,-117.81,33.78,27,3589,507,1484,495,5.7934,270500
3,-118.36,33.82,28,67,15,49,11,6.1359,330000
4,-119.67,36.33,19,1241,244,850,237,2.9375,81700

In [39]:
casas[(casas['population'] == 1155) | (casas['latitude'] > 70)]

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
2405,-122.38,40.09,16,2077,388,1155,389,3.1361,84800
2486,-120.68,35.14,34,3100,617,1155,542,3.0938,245900
2600,-117.96,33.87,37,1785,360,1155,403,4.7984,175800
2828,-116.96,33.52,9,2802,471,1155,421,4.1250,392100

In [45]:
casas['population'].isin([1155, 850])
#Faz a mesma coisa que o de cima, mas com um atributo. Diz quais são as linhas que tem população igual a 1155, ou a 850.

0       False
1       False
2       False
3       False
4        True
        ...
2995    False
2996    False
2997    False
2998    False
2999    False
Name: population, Length: 3000, dtype: bool

In [69]:
media =  (2 + 2.0 + 3 + 2)/4
media
mediana = 2.5
Comfiabilidade_Da_Media = ((mediana/media) - 1) * 100
Comfiabilidade_Da_Media
#Quando o coeficiente, ou variável, de Confiabiliadade_Da_Media é zero a média é representa todos os números sem de forma precisa e exata, quanto
#mais distante dor do zero menos exata e precisa ela é.

11.111111111111116